---
---
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
@import "p2pu-theme/fonts";
@import "p2pu-theme/variables";
@import "bootstrap/scss/bootstrap";
@import "p2pu-theme/mixins";
@import "p2pu-theme/utilities";
@import "p2pu-theme/layout";
@import "p2pu-theme/typography";
@import "p2pu-theme/buttons";
@import "p2pu-theme/footer";
@import "p2pu-theme/custom";

.post-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 40px;
    min-height: 300px;
    background: #fff center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    transition: all 0.5s ease;
}
@media (min-width: 795px) {
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) {
        flex: 1 1 100%;
        flex-direction: row;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        border-radius: 5px 0 0 5px;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content {
        flex: 0 1 357px;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) h2 {
        font-size: 2.6rem;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content-link {
        padding: 30px 40px 0;
    }

    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-meta {
        padding: 0 40px 30px;
    }
}

.home-template .site-header:after {
    display: none;
}



{% if site.jumbotron_color %}
	$jumbotron-color: {{ site.jumbotron_color }};
{% else %}
 $jumbotron-color: $p2pu-blue;
{% endif %}

{% if site.jumbotron_image %}
	$jumbotron-image: '{{ site.jumbotron_image}}';
{% else %}
	$jumbotron-image: 'img/jumbotron-image.svg';
{% endif %}

{% assign image_ext = site.jumbotron_image|split:"."|last %}
{% if image_ext == "svg" %}
  $jumbotron-image-size: contain;
{% else %}
  $jumbotron-image-size: cover;
{% endif %}

{% if site.jumbotron_mask %}
	$jumbotron-mask: '{{ site.jumbotron_mask}}';
{% else %}
	$jumbotron-mask: 'img/jumbotron_mask.svg';
{% endif %}

@import "custom";
